@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Clash Display';
  src: url('/my-ecommerce-2/public/Fonts/WEB/fonts/ClashDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.logo{
  font-family: 'Clash Display', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.52px;
  color: #22202E;
}