@tailwind base;
@tailwind components;
@tailwind utilities;

/* ClashDisplay Font */
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/Clashdisplay/ClashDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Font */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Global styles for headings and paragraphs */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "ClashDisplay", sans-serif;
  }

  p {
    font-family: "Satoshi", sans-serif;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}

.animate-slideRight {
  animation: slideRight 0.3s ease-out;
}
